
@{
    ViewBag.Title = "Index";
}

<div ng-app="myModule">
    <div ng-controller="schoolController">

        @*<nad-Shop-Directive></nad-Shop-Directive>*@

        <div nad-Shop-Directive></div>

        <input type="number" ng-model="num"/>

        Value of text box {{num}}

        <button ng-click="checkNumber()">Check number</button>

        <br />
        {{message}}
    </div>
</div>
<script src="~/Scripts/spa/app.js"></script>